@model IEnumerable<DAL.Models.UserPlayListsMusic>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Music)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPlaylist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Music.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPlaylist.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="ri-edit-line"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
